> **PYTHON DATA INGEST & EXPORT CHEATSHEET**

In [0]:
from IPython.display import display

import sys

import numpy as np
import pandas as pd

# By format

## Simple numbers in text file

Numpy allows storing 1D and 2D arrays in simple text format of space separated numbers, one row per line.

- https://docs.scipy.org/doc/numpy/reference/generated/numpy.loadtxt.html
- https://docs.scipy.org/doc/numpy/reference/generated/numpy.genfromtxt.html#numpy.genfromtxt - loading with support for missing values
- https://docs.scipy.org/doc/numpy/reference/generated/numpy.savetxt.html

**SPOILER:** As you'll see later, these functions can be (ab)used to save/load CSV/TSV files by specifying appropriate delimiters.

### Writing

In [0]:
# write
m = np.array([
    [2, 3, 56],
    [12, -10, 2],
])

filename = "./data/file.out"

np.savetxt(filename, m)

with open(filename) as f:
    print(f.read())

2.000000000000000000e+00 3.000000000000000000e+00 5.600000000000000000e+01
1.200000000000000000e+01 -1.000000000000000000e+01 2.000000000000000000e+00

### Reading

In [0]:
# read
display(np.loadtxt("./data/file.out"))

array([[  2.,   3.,  56.],
       [ 12., -10.,   2.]])

## CSV (and TSV etc.)

### CSV with Python stdlib
- https://docs.python.org/3/library/csv.html
- https://docs.python.org/3/library/csv.html#examples

**TL;DR:**

```python
import csv

# Reading
with open('./data/titanic.csv', newline='', encoding='utf-8') as csvfile:
    csv_reader = csv.DictReader(csvfile)
        for row in csv_reader:
            print(row)

# Writing
fieldnames = ["Name", "Sex", "Age"]
data = [
    {"Name": "John Doe", "Sex": "M", "Age": 43},
    {"Name": "Jane Doe", "Sex": "F", "Age": 38},
]
with open('./data/test-csv-write.csv', 'w', newline='', encoding='utf-8') as csv_file:
    csv_writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    csv_writer.writeheader()
    for r in data:
        csv_writer.writerow(r)
```

#### Reading

In [0]:
import csv

# "save" options for open() to ensure it works the same on all platforms
# in all cases including weird system settings and/or CSV-dialects:
#
# - newline='' : like the default None, it also supports universal newlines,
#   but it does not translate them automatically to "\n", it leaves them
#   unchaged for your code to see them as they are
#
# - encoding='utf-8' : manually specify encoding, since otherwise it will
#   try to get the system's "default" which might be something stupid
i = 0
filename = './data/titanic.csv'
with open('./data/titanic.csv', newline='', encoding='utf-8') as csvfile:
    #csv_reader = csv.reader(f, delimiter=':', quoting=csv.QUOTE_NONE)  # alternate format
    #csv_reader = csv.reader(csvfile)  # reads lists
    csv_reader = csv.DictReader(csvfile)  # reads ordered dicts
    
    # useful
    #next(csv_reader)  # skip a line (eg. the header in list-rows mode)
    
    # NOTE: tbh this try/catch here is probably useless, the reader doesn't
    #    ever seem to ever fail with csv.Error, only encoding errors...
    try:
        for row in csv_reader:
            display(row)
            i += 1
            if i >= 3:
                break
    except csv.Error as e:
            sys.exit('file {}, line {}: {}'.format(filename, reader.line_num, e))

OrderedDict([('PassengerId', '1'),
             ('Survived', '0'),
             ('Pclass', '3'),
             ('Name', 'Braund, Mr. Owen Harris'),
             ('Sex', 'male'),
             ('Age', '22'),
             ('SibSp', '1'),
             ('Parch', '0'),
             ('Ticket', 'A/5 21171'),
             ('Fare', '7.25'),
             ('Cabin', ''),
             ('Embarked', 'S')])

OrderedDict([('PassengerId', '2'),
             ('Survived', '1'),
             ('Pclass', '1'),
             ('Name', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'),
             ('Sex', 'female'),
             ('Age', '38'),
             ('SibSp', '1'),
             ('Parch', '0'),
             ('Ticket', 'PC 17599'),
             ('Fare', '71.2833'),
             ('Cabin', 'C85'),
             ('Embarked', 'C')])

OrderedDict([('PassengerId', '3'),
             ('Survived', '1'),
             ('Pclass', '3'),
             ('Name', 'Heikkinen, Miss. Laina'),
             ('Sex', 'female'),
             ('Age', '26'),
             ('SibSp', '0'),
             ('Parch', '0'),
             ('Ticket', 'STON/O2. 3101282'),
             ('Fare', '7.925'),
             ('Cabin', ''),
             ('Embarked', 'S')])

#### Writing

In [0]:
# "Old school", list rows (better performance)
import csv

fieldnames = ["Name", "Sex", "Age"]
data = [
    {"Name": "John Doe", "Sex": "M", "Age": 43},
    {"Name": "Jane Doe", "Sex": "F", "Age": 38},
]
with open('./data/test-csv-write.csv', 'w', newline='', encoding='utf-8') as csv_file:
    csv_writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    csv_writer.writeheader()
    for r in data:
        csv_writer.writerow(r)

In [0]:
# "Old school", list rows (better performance)
import csv

header = ["Name", "Sex", "Age"]
rows = [
    ("John Doe", "M", 33),
    ("Jane Doe", "F", 28),
]
with open('./data/test-csv-write.csv', 'w', newline='', encoding='utf-8') as csv_file:
    csv_writer = csv.writer(csv_file)
    csv_writer.writerow(header)
    for r in rows:
        csv_writer.writerow(r)

### CSV with Numpy only (not recommended)

- https://docs.scipy.org/doc/numpy/reference/generated/numpy.loadtxt.html
- https://docs.scipy.org/doc/numpy/reference/generated/numpy.genfromtxt.html#numpy.genfromtxt - loading with support for missing values
- https://docs.scipy.org/doc/numpy/reference/generated/numpy.savetxt.html

**HINT:** It's probably a better idea to either use the CSV readers/writers in Python standard library or Panda's `csv_read`.

#### Reading

In [0]:
data = np.loadtxt("./data/air_quality_no2.csv", dtype=object, delimiter=",")
display(data[:5])
data.shape

array([['datetime', 'station_antwerp', 'station_paris', 'station_london'],
       ['2019-05-07 02:00:00', '', '', '23.0'],
       ['2019-05-07 03:00:00', '50.5', '25.0', '19.0'],
       ['2019-05-07 04:00:00', '45.0', '27.7', '19.0'],
       ['2019-05-07 05:00:00', '', '50.4', '16.0']], dtype=object)

(1036, 4)

In [0]:
dates = data[1:, 0].astype(np.datetime64, copy=False)
display(dates[:5])
d.astype(object).year

array(['2019-05-07T02:00:00', '2019-05-07T03:00:00',
       '2019-05-07T04:00:00', '2019-05-07T05:00:00',
       '2019-05-07T06:00:00'], dtype='datetime64[s]')

2019

In [0]:
values = data[1:, 1:]
values[values == ''] = np.nan
values = values.astype(np.float, copy=False)
values[:5]

array([[ nan,  nan, 23. ],
       [50.5, 25. , 19. ],
       [45. , 27.7, 19. ],
       [ nan, 50.4, 16. ],
       [ nan, 61.9,  nan]])

#### Writing

In [0]:
# assemble numpy array of strings
data2 = np.zeros((values.shape[0] + 1, values.shape[1] + 1), dtype=object)
data2[0, :] = ['datetime', 'station_antwerp', 'station_paris', 'station_london']
data2[1:, 0] = dates
data2[1:, 1:] = values
data2[1, 3] = 42.0  # modify smth. to sanity check afterwards
data2 = data2.astype(str, copy=False)
data2[data2 == 'nan'] = ''
data2[:6]

# write it out
np.savetxt("data/air_quality_no2.saved.csv", data2, fmt="%s", delimiter=",")

### CSV with Pandas

https://pandas.pydata.org/docs/user_guide/cookbook.html#csv

#### Reading

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [0]:
# simple
df = pd.read_csv("./data/air_quality_long.csv")
display(df)
df.info()

,city,country,date.utc,location,parameter,value,unit
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,µg/m³
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,µg/m³
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,µg/m³
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,µg/m³
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,µg/m³
...,...,...,...,...,...,...,...
5267,London,GB,2019-04-09 06:00:00+00:00,London Westminster,no2,41.0,µg/m³
5268,London,GB,2019-04-09 05:00:00+00:00,London Westminster,no2,41.0,µg/m³
5269,London,GB,2019-04-09 04:00:00+00:00,London Westminster,no2,41.0,µg/m³
5270,London,GB,2019-04-09 03:00:00+00:00,London Westminster,no2,67.0,µg/m³
5271,London,GB,2019-04-09 02:00:00+00:00,London Westminster,no2,67.0,µg/m³

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5272 entries, 0 to 5271
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       5272 non-null   object
 1   country    5272 non-null   object
 2   date.utc   5272 non-null   object
 3   location   5272 non-null   object
 4   parameter  5272 non-null   object
 5   value      5272 non-null   float64
 6   unit       5272 non-null   object
dtypes: float64(1), object(6)
memory usage: 288.4+ KB

In [0]:
# with index and proper data types
df = pd.read_csv(
    "./data/air_quality_long.csv",
    index_col='date.utc',
    parse_dates=['date.utc'],
    encoding="utf-8",
).convert_dtypes()
display(df)
df.info()

,city,country,location,parameter,value,unit
date.utc,,,,,,
2019-06-18 06:00:00+00:00,Antwerpen,BE,BETR801,pm25,18.0,µg/m³
2019-06-17 08:00:00+00:00,Antwerpen,BE,BETR801,pm25,6.5,µg/m³
2019-06-17 07:00:00+00:00,Antwerpen,BE,BETR801,pm25,18.5,µg/m³
2019-06-17 06:00:00+00:00,Antwerpen,BE,BETR801,pm25,16.0,µg/m³
2019-06-17 05:00:00+00:00,Antwerpen,BE,BETR801,pm25,7.5,µg/m³
...,...,...,...,...,...,...
2019-04-09 06:00:00+00:00,London,GB,London Westminster,no2,41.0,µg/m³
2019-04-09 05:00:00+00:00,London,GB,London Westminster,no2,41.0,µg/m³
2019-04-09 04:00:00+00:00,London,GB,London Westminster,no2,41.0,µg/m³
2019-04-09 03:00:00+00:00,London,GB,London Westminster,no2,67.0,µg/m³
2019-04-09 02:00:00+00:00,London,GB,London Westminster,no2,67.0,µg/m³

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5272 entries, 2019-06-18 06:00:00+00:00 to 2019-04-09 02:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       5272 non-null   string
 1   country    5272 non-null   string
 2   location   5272 non-null   string
 3   parameter  5272 non-null   string
 4   value      5272 non-null   float64
 5   unit       5272 non-null   string
dtypes: float64(1), string(5)
memory usage: 288.3 KB

#### Writing

In [0]:
df.to_csv("./data/air_quality_long.saved.csv", encoding="utf-8")

### CSV with TF

In [12]:
import tensorflow as tf

TRAIN_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/train.csv"

train_file_path = tf.keras.utils.get_file("train.csv", TRAIN_DATA_URL)

dataset = tf.data.experimental.make_csv_dataset(
    train_file_path,
    batch_size=5, # Artificially small to make examples easier to show.
    label_name='survived',
    #column_name=['foo', 'bar', ...],
    #select_columns=[...],
    na_value="?",
    num_epochs=1,
    ignore_errors=True,
)

def tf_show_batch(dataset):
  for batch, label in dataset.take(1):
    print(f"LABEL(survived): {label}")
    for key, value in batch.items():
      print("{:20s}: {}".format(key,value.numpy()))

tf_show_batch(dataset)

print()
dataset.element_spec

LABEL(survived): [1 0 0 1 0]
sex                 : [b'female' b'male' b'male' b'male' b'male']
age                 : [24. 24. 28. 28. 18.]
n_siblings_spouses  : [1 0 0 1 1]
parch               : [0 0 0 1 1]
fare                : [26.      7.8958  8.05   15.2458  7.8542]
class               : [b'Second' b'Third' b'Third' b'Third' b'Third']
deck                : [b'unknown' b'unknown' b'unknown' b'unknown' b'unknown']
embark_town         : [b'Southampton' b'Southampton' b'Southampton' b'Cherbourg' b'Southampton']
alone               : [b'n' b'y' b'y' b'n' b'n']

(OrderedDict([('sex', TensorSpec(shape=(None,), dtype=tf.string, name=None)),
              ('age', TensorSpec(shape=(None,), dtype=tf.float32, name=None)),
              ('n_siblings_spouses',
               TensorSpec(shape=(None,), dtype=tf.int32, name=None)),
              ('parch', TensorSpec(shape=(None,), dtype=tf.int32, name=None)),
              ('fare', TensorSpec(shape=(None,), dtype=tf.float32, name=None)),
              ('class', TensorSpec(shape=(None,), dtype=tf.string, name=None)),
              ('deck', TensorSpec(shape=(None,), dtype=tf.string, name=None)),
              ('embark_town',
               TensorSpec(shape=(None,), dtype=tf.string, name=None)),
              ('alone',
               TensorSpec(shape=(None,), dtype=tf.string, name=None))]),
 TensorSpec(shape=(None,), dtype=tf.int32, name=None))

## Numpy binary formats (.npy, .npz)

- https://docs.scipy.org/doc/numpy/reference/generated/numpy.save.html#numpy.save
- https://docs.scipy.org/doc/numpy/reference/generated/numpy.savez.html#numpy.savez
- https://docs.scipy.org/doc/numpy/reference/generated/numpy.savez_compressed.html#numpy.savez_compressed
- https://docs.scipy.org/doc/numpy/reference/generated/numpy.load.html#numpy.load

## Excell

## Libre/Open-Office sheet (ODS)

## Feather

- https://arrow.apache.org/docs/python/ipc.html#feather-format

In [0]:
df = pd.read_csv(
    "./data/air_quality_long.csv",
    index_col='date.utc',
    parse_dates=['date.utc'],
    encoding="utf-8",
).convert_dtypes()
display(df.head())
df.info()

                                city country location parameter  value   unit
date.utc
2019-06-18 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.0  µg/m³
2019-06-17 08:00:00+00:00  Antwerpen      BE  BETR801      pm25    6.5  µg/m³
2019-06-17 07:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.5  µg/m³
2019-06-17 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   16.0  µg/m³
2019-06-17 05:00:00+00:00  Antwerpen      BE  BETR801      pm25    7.5  µg/m³

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5272 entries, 2019-06-18 06:00:00+00:00 to 2019-04-09 02:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       5272 non-null   string
 1   country    5272 non-null   string
 2   location   5272 non-null   string
 3   parameter  5272 non-null   string
 4   value      5272 non-null   float64
 5   unit       5272 non-null   string
dtypes: float64(1), string(5)
memory usage: 288.3 KB

## Feather & Pandas

In [0]:
! pip install --upgrade pyarrow

Requirement already up-to-date: pyarrow in /Users/aandrei/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (0.16.0)
Requirement already satisfied, skipping upgrade: six>=1.0.0 in /Users/aandrei/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyarrow) (1.11.0)
Requirement already satisfied, skipping upgrade: numpy>=1.14 in /Users/aandrei/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyarrow) (1.15.1)

In [0]:
# === Writing
import feather

# IMPORTANT: you need to .reset_index() to make the index a regular column
# OR: feather.write_dataframe(df.reset_index(), "./data/air_quality_long.feather")
df.reset_index().to_feather("./data/air_quality_long.feather")

# === Reading
# OR: df_read = pd.read_feather("./data/air_quality_long.feather").convert_dtypes()
df_read = pd.read_feather("./data/air_quality_long.feather").convert_dtypes()
df_read.set_index('date.utc', inplace=True)
display(df_read.head())
df_read.info()

                                city country location parameter  value   unit
date.utc
2019-06-18 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.0  µg/m³
2019-06-17 08:00:00+00:00  Antwerpen      BE  BETR801      pm25    6.5  µg/m³
2019-06-17 07:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.5  µg/m³
2019-06-17 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   16.0  µg/m³
2019-06-17 05:00:00+00:00  Antwerpen      BE  BETR801      pm25    7.5  µg/m³

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5272 entries, 2019-06-18 06:00:00+00:00 to 2019-04-09 02:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       5272 non-null   string
 1   country    5272 non-null   string
 2   location   5272 non-null   string
 3   parameter  5272 non-null   string
 4   value      5272 non-null   float64
 5   unit       5272 non-null   string
dtypes: float64(1), string(5)
memory usage: 288.3 KB

## Google Sheets (API)

## JSON

## XML

## HTML

## SQL

## HDF5

- https://www.hdfgroup.org/solutions/hdf5/
- https://www.h5py.org/
- http://docs.h5py.org/en/stable/quick.html#quick

## Parquet

- https://parquet.apache.org/documentation/latest/